/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--ifm-background-color);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.subtext {
  width: 100%;
  max-width: 550px;
  margin: 25px auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
